---
import { late } from "astro/zod";
import Base from "../../layouts/Base.astro";
import Post from "../../components/Post.astro";
import "../../styles/index.scss";

const welcomeMessages = [
    "Welcome!",
    "Bem Vindo!",
    "Opa!",
    "A\u00F4ba!",
    "Haii!!",
    "Wilkommen!",
];
const chooseRandom = (length: number) => {
    return Math.floor(Math.random() * length);
};
// Import all Markdown files from the blog directory and sort it
const allPosts: IPost[] = Object.values(import.meta.glob("./blog/*.md", { eager: true }));
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());
// Get the latest post
const latestPost: any = allPosts[0];
---

<Base>
    <div class="intro">
        <span class="title">
            {welcomeMessages[chooseRandom(welcomeMessages.length)]}
        </span>

        <span class="introduction">
            My name is Davi, I'm a frontend dev and I'm learning <b>C#</b>,
            <b>Javascript / Typescript</b> and <b>Svelte</b>
        </span>
    </div>

    <div class="recent">
        <h2 id="recent">Most recent post: </h2>
        <Post
                title={latestPost.frontmatter.title}
                date={latestPost.frontmatter.pubDate}
                description={latestPost.frontmatter.description}
                url={latestPost.url}
        />
    </div>

    <a href="/" class="language">
        🇧🇷 Falante de Português? Mude para o Português aqui!
    </a>
</Base>
