---
import { late } from 'astro/zod';
import Base from '../layouts/Base.astro';
import Post from '../components/Post.astro';
import "../styles/index.scss"

const welcomeMessages = [
    "Welcome!",
    "Bem Vindo!",
    "Opa!",
    "Aôba!",
    "Haii!!",
    "Wilkommen!",
]

const chooseRandom = (length: number) => {
    return Math.floor(Math.random() * length);
}

// Import all Markdown files from the posts directory and sort it
const allPosts: IPost[] = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime());

// Get the latest post
const latestPost: any = allPosts[0];
---

<Base>
    <div class="intro">
        <span class="title">
            {welcomeMessages[chooseRandom(welcomeMessages.length)]}
        </span>

        <span class="introduction">
            Me chamo Davi, sou um dev frontend e estou aprendendo <b>C#</b>,
            <b>Javascript / Typescript</b> e <b>Svelte</b>
        </span>
    </div>

    <div class="recent">
        <h2 id="recent">Post mais recente: </h2>
        <Post
                title={latestPost.frontmatter.title}
                date={latestPost.frontmatter.pubDate}
                description={latestPost.frontmatter.description}
                url={latestPost.url}
        />
    </div>
</Base>
