---
import '../styles/post.scss'
import '../styles/layout.scss'

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let urlUpdate: string;

if (lang === "en")
	urlUpdate = "/en";
else
	urlUpdate = "";
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/porto.gif" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Cantinho do Argon</title>
	</head>
	<body>
		<div class="header">
			<div class="home">
				<a href={`${urlUpdate}/`} class="item" id="home">
					<img src="/porto.gif" alt="portgfmo">
					argonptg
				</a>
			</div>
			<ul class="nav">
				<li class="item">
					<a href={`${urlUpdate}/about`} class="item">
						{t('nav.about')}
					</a>
				</li>
				<li class="item">
					<a href={`${urlUpdate}/projects`} class="item">
						{t('nav.projects')}
					</a>
				</li>
				<li class="item">
					<a href={`${urlUpdate}/blog`} class="item">
						{t('nav.blog')}
					</a>
				</li>
			</ul>
		</div>
		<div class="content">
			<a href={`${urlUpdate}/blog`} class="back">
				<img src="/back.svg" alt="back">
				<span>{t('content.back')}</span>
			</a>
			<slot/>

			<div class="footer">
				<span>
					- argonptg
				</span>
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
